<!DOCTYPE HTML>

<html>
	<head>
		<title>Grader</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
					
						<div class="logo">
							<span class="icon fa-file-code-o"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>GRADER KIT</h1>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simply way to create your own code submission &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							</div>
						</div>
						<nav>
							<ul>
								
								<li><a href="#contact">Login</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Register</h2>
								<form method="post" action="#">
									
									
									<ul class="actions">
										<li><input type="submit" value="Login with Facebook" class="facebook" /></li>
									</ul>
								</form>
								
							</article>

						

								

							</article>

					</div>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
